// Colors
$primary-light-1: #7c5dfa;
$secondary-light-1: #dfe3fa;
$third-light-1: #ec5757;

$primary-light-2: #9277ff;
$secondary-light-2: #888eb0;
$third-light-2: #ff9797;

$primary-dark-1: #1e2139;
$secondary-dark-1: #7e88c3;
$third-dark-1: #f8f8fb;

$primary-dark-2: #252945;
$secondary-dark-2: #0c0e16;
$third-dark-2: #141625;
